:root {
  --h1top: 205px;
  --h1right: ;
  --h1left: 50%;
  --h1fontsize: 62px;
  
  --h2top: 360px;
  --h2right: ;
  --h2left: 50.5%;
  --h2fontsize: 30px;

  --h3fontsize: 28px;

--h3bottom: 100px;

  --pagewidth: 1250px;
  --navwidth: 1450px;
  --tehouwidth: 520px;
  --cssconwidth: 1250px;

  --blankspace: 180px;


  --logoheight: -6px;
  

  --navspacing: 2vw;
  --float: right;
  --textposition: ;
  
 
  --navbarheight: -28px;
  --fontsize: 20px;
  --yinyangtop: 105px;

  --linkimgwidth: 300px;
  --linkimgheight: 500px; 

--logoleftmargin: 7%;
  --navbarright: 5%;
}

@media (max-width: 1550px) {
  :root{
    --pagewidth: 80%;
    --navwidth: 95%;
    --cssconwidth: 80%;

    --h1fontsize: 4vw;
    --h1top: 12.5vw;
    --h1right: 18%;
    --h1left: ;
    --blankspace: 12vw;
    --yinyangtop: 6vw;

    --h2top: 22.5vw;
    --h2right: ;
    --h2left: 50.5%;
    --h2fontsize: 2vw;

    --navbarright: 5%;
    --logoleftmargin: 7%;
    --h3fontsize: 2.7vw;
    --h3bottom: 70px;

    --linkimgwidth: 20vw;
    --linkimgheight: 33vw; 
  }

}
@media (max-width: 550px) {
  :root{
    --logoheight: -25px;
    --tehouwidth: 70%;
    --logoleftmargin: auto;
    --blankspace: 12vw;
    --fontsize: 17px;
    --h1top: 10vw;
    --h2top: 20vw;
    --h2fontsize: 2.7vw;
    --h2left: 46.5%;
    --navspacing: 3vw;
    --float: ;
    --textposition: center;
    --navbarright: auto;
    --navbarheight: 15px;
    --h3fontsize: 2.7vw;
    --h3bottom: 8vw;
  }
}


.navbar {
  background-image: linear-gradient(to right,#0e1c28, #2d5678, #0e1c28);
  padding: 35px;
  border-bottom: 1.5px solid #173751;
  
  
}

.navsizing {
  width: var(--navwidth);
  margin-left: auto;
  margin-right: auto;
}
.floatright {
  float: var(--float);
  position: relative; top: var(--navbarheight);
  margin-right: var(--navbarright);
  margin-left: auto;
  text-align: var(--textposition);


}

.home {
  
   margin-right: var(--navspacing);
  margin-left: var(--navspacing);
  color: azure;
  text-decoration: none;
  position: relative; top: 3px;
}

.logonavbar {
  height: 25px;
  margin-top: var(--logoheight);
  margin-left: var(--logoleftmargin);
  margin-right: auto;
  
  display: block;
  position: relative;
}

.navlink {
  font-size: var(--fontsize);
  
  
  margin-right: var(--navspacing);
  margin-left: var(--navspacing);

  padding: 0px 0px 15x 0px;
  color: azure;
  text-decoration: none;
}

.navlinkcontact {
  font-size: var(--fontsize);
  margin-right: var(--navspacing);
  margin-left: var(--navspacing);
  padding: 5px 0px 15px 0px;
  color: azure;
  text-decoration: none;
}
.yinyang {
  width: var(--pagewidth);
  margin-left: auto;
  margin-right: auto;
   display: block; 
   border-radius: 8px;
    position: relative;top: var(--yinyangtop);
    box-shadow: 0px 25px 20px -15px #111; 
}

.h1 {
  position: absolute;
  top: var(--h1top);
  right: var(--h1right);
  left: var(--h1left);
  color: white;
  font-size: var(--h1fontsize);

}

.h2 {
  position: absolute;
  top: var(--h2top);
  right: var(--h2right);
  left: var(--h2left);
  color: white;
  font-size: var(--h2fontsize);
}

.homeintro {
  background-image: linear-gradient(to right,#0e1c28, #2d5678, #0e1c28);
  position: relative;
  text-align: center;
  }

body {
  margin: auto;
  font-family: 'Big Shoulders Display', cursive;
  background-color: white;
  
}

.fullpage {
  min-height: 70vh;
  display: relative;
  justify-content: center;
align-items: center;
  text-align: center;
}

.recentblog {

  display: flex;
  justify-content: center;
align-items: center;
  text-align: center;
}

.blankspace {
  margin-bottom: var(--blankspace);
}

.h3 {
  text-align: center;
  font-size: var(--h3fontsize);
  margin-bottom: var(--h3bottom);
}

footer {
  
  
   padding: 10px;
   background-image: linear-gradient(to right,#0e1c28, #2d5678, #0e1c28);
   color: white;
   text-align: center;
}

.footerlogo {
  height: 25px;
}

.bloglinkimg{
  width: var(--linkimgwidth);
  height: var(--linkimgheight);
  border-radius: 8px;
}

.bloganchor {
  
  text-align: center;
  margin-bottom: 50px;
}

.bloglink {
  display:inline-block;
  width: var(--linkimgwidth);
  height: var(--linkimgheight);
 
}
.blogcaption {
    
  background-image: linear-gradient(to right,#0e1c28, #2d5678, #0e1c28);
  width:var(--linkimgwidth);
  text-decoration: none;
  color: white;
  border-radius: 8px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#tehoutaewaimg {
  width: var(--tehouwidth);
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
   display: block; 
   border-radius: 8px;
    position: relative;top: 105px;
    box-shadow: 0px 25px 20px -15px #111; 
}

#cssconceptimg {
  width: var(--cssconwidth);
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
   display: block; 
   border-radius: 8px;
    position: relative;top: 105px;
    box-shadow: 0px 25px 20px -15px #111; 
}

.blogtitle {
  color: white;
  margin: 0;
  transform: translateY(50px);
  font-size: 28px;
  
}

.blogtext{
  text-align: center;
  width: var(--pagewidth);
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

.codestyle {
  font-size: 14px;
  color:lightskyblue;
  background-color: gray;
  padding: 2px 4px 2px 4px;
  border-radius: 2px;

}
.codelist {
  line-height: 20px;
}

.footerfontsize {
  font-size: 10px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
  
}

.blogparagraph {
  text-align: left;
}

.codeeg {
  display:block;
  font-size: 14px;
  color:lightskyblue;
  background-color: gray;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 2px 4px 2px 4px;
  
  
}

.codebox {
display:block;
  background-image: linear-gradient(to right,#0e1c28, #2d5678, #0e1c28);
  color: white;
  border-radius: 8px;
}

.h4 {
  transform: translateX(10px) translateY(10px);
  
}

